# Copy to .env.team and edit values per member/environment
AWS_PROFILE=default
AWS_REGION=us-west-2
AWS_ACCOUNT_ID=
PROJECT_PREFIX=cs6620-group-a
STAGE=dev-a
CDK_QUALIFIER=grpA1
INFRA_DIR=infra
DEPLOY=false
